# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
frontend/.next/_events.json
frontend/.next/BUILD_ID
frontend/.next/build-manifest.json
frontend/.next/export-marker.json
frontend/.next/fallback-build-manifest.json
frontend/.next/images-manifest.json
frontend/.next/next-minimal-server.js.nft.json
frontend/.next/next-server.js.nft.json
frontend/.next/package.json
frontend/.next/prerender-manifest.json
frontend/.next/required-server-files.json
frontend/.next/routes-manifest.json
frontend/.next/trace
frontend/.next/trace-build
frontend/.next/turbopack
frontend/.next/build/package.json
frontend/.next/build/postcss.js
frontend/.next/build/postcss.js.map
frontend/.next/build/chunks/\[root-of-the-server]__67e6589f._.js
frontend/.next/build/chunks/\[root-of-the-server]__67e6589f._.js.map
frontend/.next/build/chunks/\[root-of-the-server]__138e99eb._.js
frontend/.next/build/chunks/\[root-of-the-server]__138e99eb._.js.map
frontend/.next/build/chunks/\[turbopack-node]_transforms_postcss_ts_38f9c324._.js
frontend/.next/build/chunks/\[turbopack-node]_transforms_postcss_ts_38f9c324._.js.map
frontend/.next/build/chunks/\[turbopack]_runtime.js
frontend/.next/build/chunks/\[turbopack]_runtime.js.map
frontend/.next/build/chunks/9e883_51af48a2._.js
frontend/.next/build/chunks/9e883_51af48a2._.js.map
frontend/.next/cache/.previewinfo
frontend/.next/cache/.rscinfo
frontend/.next/cache/webpack/client-development/0.pack.gz
frontend/.next/cache/webpack/client-development/1.pack.gz
frontend/.next/cache/webpack/client-development/index.pack.gz
frontend/.next/cache/webpack/client-development/index.pack.gz.old
frontend/.next/cache/webpack/client-development-fallback/0.pack.gz
frontend/.next/cache/webpack/client-development-fallback/index.pack.gz
frontend/.next/cache/webpack/client-development-fallback/index.pack.gz.old
frontend/.next/cache/webpack/server-development/0.pack.gz
frontend/.next/cache/webpack/server-development/1.pack.gz
frontend/.next/cache/webpack/server-development/index.pack.gz
frontend/.next/cache/webpack/server-development/index.pack.gz.old
frontend/.next/dev/build-manifest.json
frontend/.next/dev/fallback-build-manifest.json
frontend/.next/dev/lock
frontend/.next/dev/package.json
frontend/.next/dev/prerender-manifest.json
frontend/.next/dev/routes-manifest.json
frontend/.next/dev/trace
frontend/.next/dev/build/package.json
frontend/.next/dev/build/postcss.js
frontend/.next/dev/build/postcss.js.map
frontend/.next/dev/build/chunks/\[root-of-the-server]__67e6589f._.js
frontend/.next/dev/build/chunks/\[root-of-the-server]__67e6589f._.js.map
frontend/.next/dev/build/chunks/\[root-of-the-server]__138e99eb._.js
frontend/.next/dev/build/chunks/\[root-of-the-server]__138e99eb._.js.map
frontend/.next/dev/build/chunks/\[turbopack-node]_transforms_postcss_ts_38f9c324._.js
frontend/.next/dev/build/chunks/\[turbopack-node]_transforms_postcss_ts_38f9c324._.js.map
frontend/.next/dev/build/chunks/\[turbopack]_runtime.js
frontend/.next/dev/build/chunks/\[turbopack]_runtime.js.map
frontend/.next/dev/build/chunks/9e883_51af48a2._.js
frontend/.next/dev/build/chunks/9e883_51af48a2._.js.map
frontend/.next/dev/cache/.rscinfo
frontend/.next/dev/cache/chrome-devtools-workspace-uuid
frontend/.next/dev/cache/next-devtools-config.json
frontend/.next/dev/server/app-paths-manifest.json
frontend/.next/dev/server/interception-route-rewrite-manifest.js
frontend/.next/dev/server/middleware-build-manifest.js
frontend/.next/dev/server/middleware-manifest.json
frontend/.next/dev/server/next-font-manifest.js
frontend/.next/dev/server/next-font-manifest.json
frontend/.next/dev/server/pages-manifest.json
frontend/.next/dev/server/server-reference-manifest.js
frontend/.next/dev/server/server-reference-manifest.json
frontend/.next/dev/server/chunks/ssr/\[externals]_next_dist_shared_lib_no-fallback-error_external_59b92b38.js
frontend/.next/dev/server/chunks/ssr/\[externals]_next_dist_shared_lib_no-fallback-error_external_59b92b38.js.map
frontend/.next/dev/server/chunks/ssr/\[root-of-the-server]__1e246ff1._.js
frontend/.next/dev/server/chunks/ssr/\[root-of-the-server]__1e246ff1._.js.map
frontend/.next/dev/server/chunks/ssr/\[root-of-the-server]__5cfa5774._.js
frontend/.next/dev/server/chunks/ssr/\[root-of-the-server]__5cfa5774._.js.map
frontend/.next/dev/server/chunks/ssr/\[root-of-the-server]__e6a4d965._.js
frontend/.next/dev/server/chunks/ssr/\[root-of-the-server]__e6a4d965._.js.map
frontend/.next/dev/server/chunks/ssr/\[root-of-the-server]__fb08b270._.js
frontend/.next/dev/server/chunks/ssr/\[root-of-the-server]__fb08b270._.js.map
frontend/.next/dev/server/chunks/ssr/\[turbopack]_runtime.js
frontend/.next/dev/server/chunks/ssr/\[turbopack]_runtime.js.map
frontend/.next/dev/server/chunks/ssr/9e883_2c8f72ed._.js
frontend/.next/dev/server/chunks/ssr/9e883_2c8f72ed._.js.map
frontend/.next/dev/server/chunks/ssr/9e883_2f8c5f27._.js
frontend/.next/dev/server/chunks/ssr/9e883_2f8c5f27._.js.map
frontend/.next/dev/server/chunks/ssr/9e883_097eecad._.js
frontend/.next/dev/server/chunks/ssr/9e883_097eecad._.js.map
frontend/.next/dev/server/chunks/ssr/9e883_b0b0b95d._.js
frontend/.next/dev/server/chunks/ssr/9e883_b0b0b95d._.js.map
frontend/.next/dev/server/chunks/ssr/9e883_c6a527ca._.js
frontend/.next/dev/server/chunks/ssr/9e883_c6a527ca._.js.map
frontend/.next/dev/server/chunks/ssr/9e883_ced34b69._.js
frontend/.next/dev/server/chunks/ssr/9e883_ced34b69._.js.map
frontend/.next/dev/server/chunks/ssr/9e883_d4182697._.js
frontend/.next/dev/server/chunks/ssr/9e883_d4182697._.js.map
frontend/.next/dev/server/chunks/ssr/9e883_ea0070f1._.js
frontend/.next/dev/server/chunks/ssr/9e883_ea0070f1._.js.map
frontend/.next/dev/server/chunks/ssr/9e883_fb57ffdb._.js
frontend/.next/dev/server/chunks/ssr/9e883_fb57ffdb._.js.map
frontend/.next/dev/server/chunks/ssr/9e883_fc0abd5a._.js
frontend/.next/dev/server/chunks/ssr/9e883_fc0abd5a._.js.map
frontend/.next/dev/server/chunks/ssr/9e883_next_dist_7a192033._.js
frontend/.next/dev/server/chunks/ssr/9e883_next_dist_7a192033._.js.map
frontend/.next/dev/server/pages/_app.js
frontend/.next/dev/server/pages/_app.js.map
frontend/.next/dev/server/pages/_document.js
frontend/.next/dev/server/pages/_document.js.map
frontend/.next/dev/server/pages/_error.js
frontend/.next/dev/server/pages/_error.js.map
frontend/.next/dev/server/pages/index.js
frontend/.next/dev/server/pages/index.js.map
frontend/.next/dev/server/pages/_app/build-manifest.json
frontend/.next/dev/server/pages/_app/client-build-manifest.json
frontend/.next/dev/server/pages/_app/next-font-manifest.json
frontend/.next/dev/server/pages/_app/pages-manifest.json
frontend/.next/dev/server/pages/_app/react-loadable-manifest.json
frontend/.next/dev/server/pages/_document/next-font-manifest.json
frontend/.next/dev/server/pages/_document/pages-manifest.json
frontend/.next/dev/server/pages/_document/react-loadable-manifest.json
frontend/.next/dev/server/pages/_error/build-manifest.json
frontend/.next/dev/server/pages/_error/client-build-manifest.json
frontend/.next/dev/server/pages/_error/next-font-manifest.json
frontend/.next/dev/server/pages/_error/pages-manifest.json
frontend/.next/dev/server/pages/_error/react-loadable-manifest.json
frontend/.next/dev/server/pages/index/build-manifest.json
frontend/.next/dev/server/pages/index/client-build-manifest.json
frontend/.next/dev/server/pages/index/next-font-manifest.json
frontend/.next/dev/server/pages/index/pages-manifest.json
frontend/.next/dev/server/pages/index/react-loadable-manifest.json
frontend/.next/dev/static/chunks/\[next]_entry_page-loader_ts_b9ef54ef._.js
frontend/.next/dev/static/chunks/\[next]_entry_page-loader_ts_b9ef54ef._.js.map
frontend/.next/dev/static/chunks/\[root-of-the-server]__1b1bf24c._.js
frontend/.next/dev/static/chunks/\[root-of-the-server]__1b1bf24c._.js.map
frontend/.next/dev/static/chunks/\[root-of-the-server]__2b803f7d._.js
frontend/.next/dev/static/chunks/\[root-of-the-server]__2b803f7d._.js.map
frontend/.next/dev/static/chunks/\[root-of-the-server]__08dbda9b._.js
frontend/.next/dev/static/chunks/\[root-of-the-server]__08dbda9b._.js.map
frontend/.next/dev/static/chunks/\[root-of-the-server]__b38243ac._.js
frontend/.next/dev/static/chunks/\[root-of-the-server]__b38243ac._.js.map
frontend/.next/dev/static/chunks/9e883_@supabase_auth-js_dist_module_548ed512._.js
frontend/.next/dev/static/chunks/9e883_@supabase_auth-js_dist_module_548ed512._.js.map
frontend/.next/dev/static/chunks/9e883_@supabase_realtime-js_dist_module_fb78d7e8._.js
frontend/.next/dev/static/chunks/9e883_@supabase_realtime-js_dist_module_fb78d7e8._.js.map
frontend/.next/dev/static/chunks/9e883_@supabase_storage-js_dist_module_b53da542._.js
frontend/.next/dev/static/chunks/9e883_@supabase_storage-js_dist_module_b53da542._.js.map
frontend/.next/dev/static/chunks/9e883_3ee3de50._.js
frontend/.next/dev/static/chunks/9e883_3ee3de50._.js.map
frontend/.next/dev/static/chunks/9e883_4e0490de._.js
frontend/.next/dev/static/chunks/9e883_4e0490de._.js.map
frontend/.next/dev/static/chunks/9e883_50e10fad._.js
frontend/.next/dev/static/chunks/9e883_50e10fad._.js.map
frontend/.next/dev/static/chunks/9e883_258ae290._.js
frontend/.next/dev/static/chunks/9e883_258ae290._.js.map
frontend/.next/dev/static/chunks/9e883_1485992b._.js
frontend/.next/dev/static/chunks/9e883_1485992b._.js.map
frontend/.next/dev/static/chunks/9e883_a0226c1b._.js
frontend/.next/dev/static/chunks/9e883_a0226c1b._.js.map
frontend/.next/dev/static/chunks/9e883_b57097fa._.js
frontend/.next/dev/static/chunks/9e883_b57097fa._.js.map
frontend/.next/dev/static/chunks/9e883_bb6d2665._.js
frontend/.next/dev/static/chunks/9e883_bb6d2665._.js.map
frontend/.next/dev/static/chunks/9e883_cca334cf._.js
frontend/.next/dev/static/chunks/9e883_cca334cf._.js.map
frontend/.next/dev/static/chunks/9e883_ccb46600._.js
frontend/.next/dev/static/chunks/9e883_ccb46600._.js.map
frontend/.next/dev/static/chunks/9e883_e638e1fd._.js
frontend/.next/dev/static/chunks/9e883_e638e1fd._.js.map
frontend/.next/dev/static/chunks/9e883_fedfea85._.js
frontend/.next/dev/static/chunks/9e883_fedfea85._.js.map
frontend/.next/dev/static/chunks/9e883_next_dist_4bfa5b9e._.js
frontend/.next/dev/static/chunks/9e883_next_dist_4bfa5b9e._.js.map
frontend/.next/dev/static/chunks/9e883_next_dist_91312c1c._.js
frontend/.next/dev/static/chunks/9e883_next_dist_91312c1c._.js.map
frontend/.next/dev/static/chunks/9e883_next_dist_client_fe082e00._.js
frontend/.next/dev/static/chunks/9e883_next_dist_client_fe082e00._.js.map
frontend/.next/dev/static/chunks/9e883_next_dist_compiled_7f9dc192._.js
frontend/.next/dev/static/chunks/9e883_next_dist_compiled_7f9dc192._.js.map
frontend/.next/dev/static/chunks/9e883_next_dist_compiled_7638d890._.js
frontend/.next/dev/static/chunks/9e883_next_dist_compiled_7638d890._.js.map
frontend/.next/dev/static/chunks/9e883_next_dist_shared_lib_8ad05970._.js
frontend/.next/dev/static/chunks/9e883_next_dist_shared_lib_8ad05970._.js.map
frontend/.next/dev/static/chunks/9e883_next_dist_shared_lib_bc5614d9._.js
frontend/.next/dev/static/chunks/9e883_next_dist_shared_lib_bc5614d9._.js.map
frontend/.next/dev/static/chunks/9e883_next_error_43788141.js
frontend/.next/dev/static/chunks/9e883_next_error_43788141.js.map
frontend/.next/dev/static/chunks/9e883_react-dom_3d11c48e._.js
frontend/.next/dev/static/chunks/9e883_react-dom_3d11c48e._.js.map
frontend/.next/dev/static/chunks/frontend_pages__app_2da965e7._.js
frontend/.next/dev/static/chunks/frontend_pages__app_12c24ba9._.js.map
frontend/.next/dev/static/chunks/frontend_pages__error_2da965e7._.js
frontend/.next/dev/static/chunks/frontend_pages__error_13e12dba._.js.map
frontend/.next/dev/static/chunks/frontend_pages_index_0a47d6fb._.js.map
frontend/.next/dev/static/chunks/frontend_pages_index_1aa99de8._.js.map
frontend/.next/dev/static/chunks/frontend_pages_index_2da965e7._.js
frontend/.next/dev/static/chunks/frontend_pages_index_05e40d42._.js.map
frontend/.next/dev/static/chunks/frontend_pages_index_8b06b35b._.js.map
frontend/.next/dev/static/chunks/frontend_pages_index_9c15a448._.js.map
frontend/.next/dev/static/chunks/frontend_pages_index_7209cd4e._.js.map
frontend/.next/dev/static/chunks/frontend_pages_index_558766a6._.js.map
frontend/.next/dev/static/chunks/frontend_pages_index_adfc6497._.js.map
frontend/.next/dev/static/chunks/frontend_pages_index_be90822e._.js.map
frontend/.next/dev/static/chunks/frontend_pages_index_c9c2a78d._.js.map
frontend/.next/dev/static/chunks/frontend_styles_globals_0b42ea6c.css
frontend/.next/dev/static/chunks/frontend_styles_globals_0b42ea6c.css.map
frontend/.next/dev/static/chunks/turbopack-frontend_pages__app_12c24ba9._.js
frontend/.next/dev/static/chunks/turbopack-frontend_pages__error_13e12dba._.js
frontend/.next/dev/static/chunks/turbopack-frontend_pages_index_0a47d6fb._.js
frontend/.next/dev/static/chunks/turbopack-frontend_pages_index_1aa99de8._.js
frontend/.next/dev/static/chunks/turbopack-frontend_pages_index_05e40d42._.js
frontend/.next/dev/static/chunks/turbopack-frontend_pages_index_8b06b35b._.js
frontend/.next/dev/static/chunks/turbopack-frontend_pages_index_9c15a448._.js
frontend/.next/dev/static/chunks/turbopack-frontend_pages_index_7209cd4e._.js
frontend/.next/dev/static/chunks/turbopack-frontend_pages_index_558766a6._.js
frontend/.next/dev/static/chunks/turbopack-frontend_pages_index_adfc6497._.js
frontend/.next/dev/static/chunks/turbopack-frontend_pages_index_be90822e._.js
frontend/.next/dev/static/chunks/turbopack-frontend_pages_index_c9c2a78d._.js
frontend/.next/dev/static/chunks/pages/_app.js
frontend/.next/dev/static/chunks/pages/_error.js
frontend/.next/dev/static/chunks/pages/index.js
frontend/.next/dev/static/development/_buildManifest.js
frontend/.next/dev/static/development/_clientMiddlewareManifest.json
frontend/.next/dev/static/development/_ssgManifest.js
frontend/.next/dev/types/routes.d.ts
frontend/.next/diagnostics/build-diagnostics.json
frontend/.next/diagnostics/framework.json
frontend/.next/server/app-paths-manifest.json
frontend/.next/server/functions-config-manifest.json
frontend/.next/server/interception-route-rewrite-manifest.js
frontend/.next/server/middleware-build-manifest.js
frontend/.next/server/middleware-manifest.json
frontend/.next/server/next-font-manifest.js
frontend/.next/server/next-font-manifest.json
frontend/.next/server/pages-manifest.json
frontend/.next/server/server-reference-manifest.js
frontend/.next/server/server-reference-manifest.json
frontend/.next/server/chunks/ssr/\[externals]_react_jsx-runtime_7ad7b9a3._.js
frontend/.next/server/chunks/ssr/\[externals]_react_jsx-runtime_7ad7b9a3._.js.map
frontend/.next/server/chunks/ssr/\[root-of-the-server]__99af5c4c._.js
frontend/.next/server/chunks/ssr/\[root-of-the-server]__99af5c4c._.js.map
frontend/.next/server/chunks/ssr/\[root-of-the-server]__13835113._.js
frontend/.next/server/chunks/ssr/\[root-of-the-server]__13835113._.js.map
frontend/.next/server/chunks/ssr/\[root-of-the-server]__d4e3a59a._.js
frontend/.next/server/chunks/ssr/\[root-of-the-server]__d4e3a59a._.js.map
frontend/.next/server/chunks/ssr/\[root-of-the-server]__f232befe._.js
frontend/.next/server/chunks/ssr/\[root-of-the-server]__f232befe._.js.map
frontend/.next/server/chunks/ssr/\[turbopack]_runtime.js
frontend/.next/server/chunks/ssr/\[turbopack]_runtime.js.map
frontend/.next/server/chunks/ssr/9e883_34ede1d8._.js
frontend/.next/server/chunks/ssr/9e883_34ede1d8._.js.map
frontend/.next/server/chunks/ssr/frontend_pages__app_aa674e6e.js
frontend/.next/server/chunks/ssr/frontend_pages__app_aa674e6e.js.map
frontend/.next/server/pages/_app.js
frontend/.next/server/pages/_app.js.map
frontend/.next/server/pages/_app.js.nft.json
frontend/.next/server/pages/_document.js
frontend/.next/server/pages/_document.js.map
frontend/.next/server/pages/_document.js.nft.json
frontend/.next/server/pages/_error.js
frontend/.next/server/pages/_error.js.map
frontend/.next/server/pages/_error.js.nft.json
frontend/.next/server/pages/404.html
frontend/.next/server/pages/500.html
frontend/.next/server/pages/index.html
frontend/.next/server/pages/index.js.map
frontend/.next/server/pages/index.js.nft.json
frontend/.next/server/pages/_app/build-manifest.json
frontend/.next/server/pages/_app/client-build-manifest.json
frontend/.next/server/pages/_app/next-font-manifest.json
frontend/.next/server/pages/_app/pages-manifest.json
frontend/.next/server/pages/_app/react-loadable-manifest.json
frontend/.next/server/pages/_document/next-font-manifest.json
frontend/.next/server/pages/_document/pages-manifest.json
frontend/.next/server/pages/_document/react-loadable-manifest.json
frontend/.next/server/pages/_error/build-manifest.json
frontend/.next/server/pages/_error/client-build-manifest.json
frontend/.next/server/pages/_error/next-font-manifest.json
frontend/.next/server/pages/_error/pages-manifest.json
frontend/.next/server/pages/_error/react-loadable-manifest.json
frontend/.next/server/pages/index/build-manifest.json
frontend/.next/server/pages/index/client-build-manifest.json
frontend/.next/server/pages/index/next-font-manifest.json
frontend/.next/server/pages/index/pages-manifest.json
frontend/.next/server/pages/index/react-loadable-manifest.json
frontend/.next/static/K9rBqfz6MSX9IIRM4r9rH/_buildManifest.js
frontend/.next/static/K9rBqfz6MSX9IIRM4r9rH/_clientMiddlewareManifest.json
frontend/.next/static/K9rBqfz6MSX9IIRM4r9rH/_ssgManifest.js
frontend/.next/static/chunks/7f561bfc6546ca38.js
frontend/.next/static/chunks/8b8953f394dde773.js
frontend/.next/static/chunks/08ccf9c6edc5eb9f.js
frontend/.next/static/chunks/40a6a669538c11d4.js
frontend/.next/static/chunks/4962bd57225c722d.js
frontend/.next/static/chunks/92076173f6711b12.js
frontend/.next/static/chunks/b4bdba2e1bc2714d.js
frontend/.next/static/chunks/b6e22ab17a27c91d.js
frontend/.next/static/chunks/bbe099bd252b4ff4.css
frontend/.next/static/chunks/c17af00def11ba1a.js
frontend/.next/static/chunks/c724473a99afa96a.js
frontend/.next/static/chunks/turbopack-7d408bf51a860813.js
frontend/.next/static/chunks/turbopack-013dc09587f006bb.js
frontend/.next/static/chunks/turbopack-382060cc54c95c2d.js
frontend/.next/types/routes.d.ts
frontend/.next/types/validator.ts
frontend/.next/static/ViHUQydC7CJ1nt6Gks47Q/_buildManifest.js
frontend/.next/static/ViHUQydC7CJ1nt6Gks47Q/_clientMiddlewareManifest.json
frontend/.next/static/ViHUQydC7CJ1nt6Gks47Q/_ssgManifest.js
frontend/.next/static/chunks/1fd274513487e76b.css
frontend/.next/static/chunks/3d1e03a4ed98ba64.js
frontend/.next/static/chunks/cdb37d4b2c8f4d39.js
frontend/.next/static/chunks/ef7cf5214944dd90.js
frontend/.next/static/chunks/turbopack-159dd9aa6aad4c00.js
frontend/.next/static/chunks/turbopack-dc6b353c1a55deca.js
